<!DOCTYPE html>
<html>
<head>
  <title>Price</title>
  <%= stylesheet_link_tag "price/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'price/application' %>

</body>
</html>
